.formulariodiv {
  color: white;
  background-color: grey;
  width: 20%;
  height: 85%;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 2%;
  max-width: 90%; /* ancho máximo del contenedor del formulario */
}

.contenedorImagen {
  width: 100%;
  height: 65%;
  overflow: hidden;
}

.formularioImagen {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: top;
}

.submitButton {
  margin-top: 20px;
  border-radius: 28px;
  background-color: #0d2818;
  text-shadow: 3px 2px 1px #04471c;
  box-shadow: 6px 5px 24px #0d2818;
  color: #fff;
  font-size: 27px;
  padding: 19px;
  text-decoration: none;
}

.submitButton:hover {
  background-color: #058c42;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s ease, color 1s ease;
}

.inputform-container {
  display: flex;
  justify-content: center; /* alinea horizontalmente el campo de entrada */
  margin-top: 20px; /* separación entre el título y el campo de entrada */
}

.inputform {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #333;
  width: 80%;
}

.labelText {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  margin-bottom: 20px; /* separación entre el título y los campos de entrada */
}
