.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1%;
}

.cardHolder .card {
  width: 20em;
  margin-right: 5em;
  margin-bottom: 5em;
}

.select-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}

select {
  padding: 10px;
  margin: 0 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

select:hover {
  border-color: #999;
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px #999;
}
